#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-0 .mbr-navbar__section {
  background: #cccccc;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-0 .mbr-navbar__section {
  background: #cccccc;
}
#header2-11 H1 {
  color: #000000;
  font-size: 23px;
  text-align: left;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-0 .mbr-navbar__section {
  background: #cccccc;
}
